# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store

# Config files you DON'T want on GitHub
config/config.json

# Upload folders (optional, if needed)
uploads/


